<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </configSections>
  <connectionStrings>
    <add name="ETDConnectionString"
      connectionString="Data Source=192.168.226.234;Initial Catalog=ETD_YC;Persist Security Info=True;User ID=sa;Password=decjapan"
      providerName="System.Data.SqlClient"/>
    <add name="ETD_FAC3ConnectionString"
      connectionString="Data Source=10.194.40.103;Initial Catalog=ETD_FAC3;Persist Security Info=True;User ID=sa;Password=decjapan"
      providerName="System.Data.SqlClient"/>
    <add name="MECHA_FAC3ConnectionString"
      connectionString="Data Source=10.194.40.103;Initial Catalog=MECHA_FAC3;Persist Security Info=True;User ID=sa;Password=decjapan"
      providerName="System.Data.SqlClient"/>
    <add name="dbIoT" connectionString="Data Source=192.168.226.145;Initial Catalog=dbIoT;User ID=sa;Password=decjapan" providerName="System.Data.SqlClient"/>
    <add name="SCM" connectionString="Data Source=192.168.226.86;Initial Catalog=dbSCM;User ID=sa;Password=decjapan" providerName="System.Data.SqlClient"/>
    <add name="IoT_Ton" connectionString="Data Source=10.194.40.103;Initial Catalog=dbIoT;Persist Security Info=True;User ID=sa;Password=decjapan"
      providerName="System.Data.SqlClient"/>
    <add name="IoT_TonMecha" connectionString="Data Source=10.194.40.103;Initial Catalog=MECHA_FAC3;Persist Security Info=True;User ID=sa;Password=decjapan"
      providerName="System.Data.SqlClient"/>
    <add name="PDB" connectionString="Data Source=192.168.226.145;Initial Catalog=dbPDB;User ID=sa;Password=decjapan" providerName="System.Data.SqlClient"/>
    <add name="dbDCI" connectionString="Data Source=192.168.226.145;Initial Catalog=dbDCI;User ID=sa;Password=decjapan" providerName="System.Data.SqlClient"/>
	<add name="dbBCS" connectionString="Data Source=192.168.226.86;Initial Catalog=dbBCS;User ID=sa;Password=decjapan" providerName="System.Data.SqlClient"/>
    <add name="dbODM" connectionString="Data Source=192.168.226.145;Initial Catalog=dbIoTFacODM;User ID=sa;Password=decjapan"
      providerName="System.Data.SqlClient"/>
    <add name="dbIoTFac3Costy" connectionString="Data Source=192.168.226.145;Initial Catalog=dbIoTFac3;User ID=sa;Password=decjapan"
      providerName="System.Data.SqlClient"/>
    <add name="dbIoTFac2Costy" connectionString="Data Source=192.168.226.145;Initial Catalog=dbIoTFac2;User ID=sa;Password=decjapan"
      providerName="System.Data.SqlClient"/>
  <add name="dbIoTFac1Costy" connectionString="Data Source=192.168.226.145;Initial Catalog=dbIoTFac1;User ID=sa;Password=decjapan"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <appSettings>
    <add key="HrmsService.hrmswebservice" value="http://dcidmc.dci.daikin.co.jp/psnweb/hrmswebservice.asmx"/>
    <add key="HRService.hrmswebservice" value="http://dcidmc.dci.daikin.co.jp/psnweb/hrmswebservice.asmx"/>
    <add key="EmailService.Mail" value="http://websrv01.dci.daikin.co.jp/sendemailservice/Mail.asmx"/>
    <add key="AuthenService.authen" value="http://websrv01.dci.daikin.co.jp/scmservice/authen.asmx"/>
	<add key="CRService.service" value="http://websrv01.dci.daikin.co.jp/FindCRNumberService/service.asmx"/>
	<add key="ProductionServices.productionservice" value="http://websrv01.dci.daikin.co.jp/scmservice/productionservice.asmx"/>
	<add key="HoldServices.holdservice" value="http://websrv01.dci.daikin.co.jp/scmservice/holdservice.asmx"/>
	
	<add key="FinalLineOil121" value="8280"/>
    <add key="FinalLineOil442" value="6966"/>
    <add key="FinalLineOil444" value="7700"/>
	<add key="FinalLineOil443" value="7000"/>
	<add key="FinalLineOil447" value="7000"/>
	<add key="FinalLineOil470" value="8005"/>
	<add key="FinalLineOil467" value="8005"/>
	<add key="FinalLineOil122" value="7700"/>
	<add key="FinalLineOil130" value="9000"/>
	<add key="FinalLineOil478" value="7300"/>
	<add key="FinalLineOil479" value="8000"/>
	<add key="FinalLineOil780" value="8000"/>

    <add key="MainFac3"
      value="40865,40876,40941,30146,28121,40037,11592,40767,13181,18041,37356,10986,11042,10737,17916,28204,29225,29557,40159,23773,33877          ,26497,34296,39879,25791,40162,36131,37031,40811,26594,38069,36463,35224,40691,11042,10737,10986,30146,40159"/>
	
  </appSettings>
  <system.webServer>
        <directoryBrowse enabled="true"/>
    <!--<defaultDocument>
      <files>
        <add value="Default.aspx"/>
      </files>
    </defaultDocument>-->
  </system.webServer>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>